*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin-top: 200px;
}

.card{
    border: 0;
}

.col{
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.actions{
    width: 100%;
    background-color: #cfcfcf;
    height: 80px;  
    padding-top: 24px; 
    margin-bottom: 50px;
   
    
}
.datos{
    padding: 10px;
}

.foto img{
    width: 100%;
}